.ChatProfBox {
    display: grid;
    grid-template-columns: 20vw 1fr;
}


.UsersNicks {
    display: grid;
    grid-gap: 20px;
    background-color: #f5667c;
}

.UserMessageBox {
/*    background: linear-gradient(to bottom, #eacf53 0%, #f3efa7 100%);*/
    display: grid;
    grid-gap: 20px;
    color: #000713;
    grid-template-rows: 1fr 20vh;

}

.UserImgClass {
    width: 50px;
}

