.PostBox {
    display: grid;
    grid-template-columns: 50px 150px 1fr;
    border-width: 1px;
    border-color: rgba(110, 62, 149, 0.56);
    border-style: outset;
}

.ImgUser {
    width: 50px;
}

.LikerClass {
    user-select: none;
}